html {
	font-size: 16px;
}

h2 {
	font-size: 2em;
	font-variant: initial;
	font-weight: 400;
	font-style: initial;
	font-family: "Roboto", sans-serif;
}

/*
Font size
Absolute keywords - small, medium, large
Relative keywords - smaller, larger, x-small, x-large, xx-small, xx-large
Percentage
EM unit: em
*/